In [145]:
import pandas as pd
import re

In [146]:
df=pd.read_csv(r"C:\Users\sande\Downloads\customer_data.csv")

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [148]:
df.isnull().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [149]:
df['email']=df.apply(lambda row:f"{row['name'].lower().strip().replace(' ','_')}@example.com" if pd.isnull(row['email']) else row['email'],axis=1)

In [150]:
df.isnull().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [151]:
df['email'].value_counts()

email
dblanchard@example.net       3
ipalmer@example.org          3
qwilliams@example.com        3
kevin69@example.net          3
xthompson@example.net        3
                            ..
colleenfarley@example.org    1
kimberly51@example.org       1
todd12@example.org           1
ithomas@example.net          1
michael42@example.com        1
Name: count, Length: 910, dtype: int64

In [152]:
df['phone']=df.apply(lambda row:"987-654-3210" if pd.isnull(row['phone']) else (row['phone']),axis=1)

In [153]:
df.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64

In [154]:
df['email_flag']=df['email'].astype(str).str.match(r'^[a-zA-Z0-9._]+@[a-z]+\.[a-z]{2,}$',na=False)

In [155]:
df['email_flag'].value_counts()

email_flag
True    1000
Name: count, dtype: int64

In [156]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,email_flag
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,True
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,True
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,True
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,True
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,True
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver,True
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,True
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,True
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold,True
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze,True

In [157]:
df.drop(columns=['email_flag'],inplace=True)

In [158]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze

In [169]:
df['phone_flag']=df['phone'].astype(str).str.match(r'^\d{2,}-\d{3,}-\d{4,}$',na=False)

In [170]:
df['phone_flag'].value_counts()

phone_flag
True    1000
Name: count, dtype: int64

In [161]:
df['phone']=df.apply(lambda row:"987-654-3210" if row['phone']=='e' or row['phone']=='0' else (row['phone']),axis=1)

In [168]:
df[df['phone_flag']==False]['phone']

289    309-515-738521
Name: phone, dtype: object

In [171]:
df['phone_flag'].value_counts()

phone_flag
True    1000
Name: count, dtype: int64

In [165]:
df['phone']=df['phone'].astype(str).str.replace(r'[()a-zA-Z]','',regex=True)

In [172]:
df.drop(columns=['phone_flag'],inplace=True)

In [173]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [176]:
df['registration_date']=pd.to_datetime(df['registration_date'],errors='coerce').dt.date

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [198]:
l1=df.columns

In [200]:
print(type(l1))

<class 'pandas.core.indexes.base.Index'>

In [197]:
for i in l1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [201]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [203]:
df.drop_duplicates()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [204]:
dial_code=pd.read_csv(r"C:\Users\sande\Downloads\Country_2-3_Digits_Codes.csv")

In [208]:
dial_code

               COUNTRY  A2   A3  NUM DIALINGCODE
0          Afghanistan  AF  AFG    4          93
1              Albania  AL  ALB    8         355
2              Algeria  DZ  DZA   12         213
3       American Samoa  AS  ASM   16       1-684
4              Andorra  AD  AND   20         376
..                 ...  ..  ...  ...         ...
243  Wallis and Futuna  WF  WLF  876         681
244     Western Sahara  EH  ESH  732         212
245              Yemen  YE  YEM  887         967
246             Zambia  ZM  ZMB  894         260
247           Zimbabwe  ZW  ZWE  716         263

[248 rows x 5 columns]

In [209]:
dial_code.drop(columns=['COUNTRY','A3','NUM'],inplace=True)

In [216]:
dial_code.to_csv('dial_code.csv',index=False)

In [220]:
df['state_code']=df['address'].astype(str).str[-8:-6]

In [221]:
df['country_code']

0      US
1      US
2      US
3      US
4      US
       ..
995    US
996    US
997    US
998    US
999    US
Name: country_code, Length: 1000, dtype: object

In [215]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,AE
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,MT
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,UT
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,CA
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,OR
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,AS
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,AL
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,DE
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,AP
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,MH

In [217]:
df['address'].to_csv('Address.csv',index=False)

In [218]:
df['country_code']='US'
#since all the entries present in the dataset belong to US, so we asign country code=US

In [222]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,state_code
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,AE
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,MT
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,UT
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,CA
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,OR
...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,AS
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,AL
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,DE
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,AP
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,MH

In [224]:
dial_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   A2           247 non-null    object
 1   DIALINGCODE  248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
 7   country_code       1000 non-null   object
 8   state_code         1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [225]:
code_map=dict(zip(dial_code['A2'],dial_code['DIALINGCODE']))
#create a key_value pair dictionary to map like map_dict ={ countrycode:dialing_code} so that we can map this to 
# df with df[dial_code]=df[country_code].map(map_dict)

In [226]:
code_map

{'AF': '93',
 'AL': '355',
 'DZ': '213',
 'AS': '1-684',
 'AD': '376',
 'AO': '244',
 'AI': '1-264',
 'AQ': '672',
 'AG': '1-268',
 'AR': '54',
 'AM': '374',
 'AW': '297',
 'AU': '61',
 'AT': '43',
 'AZ': '994',
 'BS': '1-242',
 'BH': '973',
 'BD': '880',
 'BB': '1-246',
 'BY': '375',
 'BE': '32',
 'BZ': '501',
 'BJ': '229',
 'BM': '1-441',
 'BT': '975',
 'BO': '591',
 'BQ': '599',
 'BA': '387',
 'BW': '267',
 'BV': '47',
 'BR': '55',
 'IO': '246',
 'BN': '673',
 'BG': '359',
 'BF': '226',
 'BI': '257',
 'KH': '855',
 'CM': '237',
 'CA': '1',
 'CV': '238',
 'KY': '1-345',
 'CF': '236',
 'TD': '235',
 'CL': '56',
 'CN': '86',
 'CX': '61',
 'CC': '61',
 'CO': '57',
 'KM': '269',
 'CG': '242',
 'CD': '243',
 'CK': '682',
 'CR': '506',
 'HR': '385',
 'CU': '53',
 'CW': '599',
 'CY': '357',
 'CZ': '420',
 'CI': '225',
 'DK': '45',
 'DJ': '253',
 'DM': '1-767',
 'DO': '1-809,1-829,1-849',
 'EC': '593',
 'EG': '20',
 'SV': '503',
 'GQ': '240',
 'ER': '291',
 'EE': '372',
 'ET': '251',
 'FK': '500',
 'FO': '298',
 'FJ': '679',
 'FI': '358',
 'FR': '33',
 'GF': '594',
 'PF': '689',
 'TF': '262',
 'GA': '241',
 'GM': '220',
 'GE': '995',
 'DE': '49',
 'GH': '233',
 'GI': '350',
 'GR': '30',
 'GL': '299',
 'GD': '1-473',
 'GP': '590',
 'GU': '1-671',
 'GT': '502',
 'GG': '44',
 'GN': '224',
 'GW': '245',
 'GY': '592',
 'HT': '509',
 'HM': '672',
 'VA': '379',
 'HN': '504',
 'HK': '852',
 'HU': '36',
 'IS': '354',
 'IN': '91',
 'ID': '62',
 'IR': '98',
 'IQ': '964',
 'IE': '353',
 'IM': '44',
 'IL': '972',
 'IT': '39',
 'JM': '1-876',
 'JP': '81',
 'JE': '44',
 'JO': '962',
 'KZ': '7',
 'KE': '254',
 'KI': '686',
 'KP': '850',
 'KR': '82',
 'KW': '965',
 'KG': '996',
 'LA': '856',
 'LV': '371',
 'LB': '961',
 'LS': '266',
 'LR': '231',
 'LY': '218',
 'LI': '423',
 'LT': '370',
 'LU': '352',
 'MO': '853',
 'MK': '389',
 'MG': '261',
 'MW': '265',
 'MY': '60',
 'MV': '960',
 'ML': '223',
 'MT': '356',
 'MH': '692',
 'MQ': '596',
 'MR': '222',
 'MU': '230',
 'YT': '262',
 'MX': '52',
 'FM': '691',
 'MD': '373',
 'MC': '377',
 'MN': '976',
 'ME': '382',
 'MS': '1-664',
 'MA': '212',
 'MZ': '258',
 'MM': '95',
 nan: '264',
 'NR': '674',
 'NP': '977',
 'NL': '31',
 'NC': '687',
 'NZ': '64',
 'NI': '505',
 'NE': '227',
 'NG': '234',
 'NU': '683',
 'NF': '672',
 'MP': '1-670',
 'NO': '47',
 'OM': '968',
 'PK': '92',
 'PW': '680',
 'PS': '970',
 'PA': '507',
 'PG': '675',
 'PY': '595',
 'PE': '51',
 'PH': '63',
 'PN': '870',
 'PL': '48',
 'PT': '351',
 'PR': '1',
 'QA': '974',
 'RO': '40',
 'RU': '7',
 'RW': '250',
 'RE': '262',
 'BL': '590',
 'SH': '290',
 'KN': '1-869',
 'LC': '1-758',
 'MF': '590',
 'PM': '508',
 'VC': '1-784',
 'WS': '685',
 'SM': '378',
 'ST': '239',
 'SA': '966',
 'SN': '221',
 'RS': '381',
 'SC': '248',
 'SL': '232',
 'SG': '65',
 'SX': '1-721',
 'SK': '421',
 'SI': '386',
 'SB': '677',
 'SO': '252',
 'ZA': '27',
 'GS': '500',
 'SS': '211',
 'ES': '34',
 'LK': '94',
 'SD': '249',
 'SR': '597',
 'SJ': '47',
 'SZ': '268',
 'SE': '46',
 'CH': '41',
 'SY': '963',
 'TW': '886',
 'TJ': '992',
 'TZ': '255',
 'TH': '66',
 'TL': '670',
 'TG': '228',
 'TK': '690',
 'TO': '676',
 'TT': '1-868',
 'TN': '216',
 'TR': '90',
 'TM': '993',
 'TC': '1-649',
 'TV': '688',
 'UG': '256',
 'UA': '380',
 'AE': '971',
 'GB': '44',
 'US': '1',
 'UM': '1',
 'UY': '598',
 'UZ': '998',
 'VU': '678',
 'VE': '58',
 'VN': '84',
 'VG': '1-284',
 'VI': '1-340',
 'WF': '681',
 'EH': '212',
 'YE': '967',
 'ZM': '260',
 'ZW': '263'}

In [231]:
df['dialing_code']='+'+df['country_code'].map(code_map)+'-'

In [232]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,state_code,dialing_code
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,AE,+1-
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,MT,+1-
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,UT,+1-
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,CA,+1-
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,OR,+1-
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,AS,+1-
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,AL,+1-
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,DE,+1-
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,AP,+1-
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,MH,+1-

In [245]:
df['dial_num']=df.apply(lambda row:f"{row['dialing_code']}{row['phone']}",axis=1)
# append phone number to dialcode and create a new column dial_num which is fully a number

In [246]:
df['dial_num']

0      +1-619-723-4258
1      +1-537-674-1158
2      +1-810-256-4505
3      +1-423-222-9779
4      +1-220-763-3522
            ...
995    +1-638-989-9441
996    +1-483-625-2940
997    +1-390-747-3088
998    +1-257-409-8196
999    +1-692-333-6880
Name: dial_num, Length: 1000, dtype: object

In [247]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,country_code,state_code,dialing_code,dial_num
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,US,AE,+1-,+1-619-723-4258
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,US,MT,+1-,+1-537-674-1158
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,US,UT,+1-,+1-810-256-4505
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,US,CA,+1-,+1-423-222-9779
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,US,OR,+1-,+1-220-763-3522
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,US,AS,+1-,+1-638-989-9441
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,US,AL,+1-,+1-483-625-2940
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,US,DE,+1-,+1-390-747-3088
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,US,AP,+1-,+1-257-409-8196
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,US,MH,+1-,+1-692-333-6880

In [ ]:
df.drop(columns=['phone','state_code','dialing_code','country_code'],inplace=True)
#so, drop the unnececsary columns

In [252]:
df

,customer_id,name,email,address,registration_date,loyalty_status,dial_num
0,1,Michelle Kidd,vayala@example.net,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,+1-619-723-4258
1,2,Brad Newton,taylorcatherine@example.net,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,+1-537-674-1158
2,3,Larry Torres,dsanchez@example.net,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,+1-810-256-4505
3,4,Kimberly Price,jessicaknight@example.com,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,+1-423-222-9779
4,5,Matthew Phillips,qwilliams@example.com,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,+1-220-763-3522
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,+1-638-989-9441
996,997,Jodi Simpson,eric24@example.org,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,+1-483-625-2940
997,998,Crystal Brown,pshaffer@example.net,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,+1-390-747-3088
998,999,Gregory Duarte,caitlindunlap@example.org,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,+1-257-409-8196
999,1000,Jason Walls,michael42@example.com,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,+1-692-333-6880

In [254]:
# finally export the cleaned dataset
df.to_csv('Final_customer_list_cleaned_mapped.csv',index=False)